@font-face {
    font-family: "CursedTimer";
    src: url(CursedTimer.ttf);   
}

body {
    margin: 0;
    background: #8DDCDC;
}

.container {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 10px auto 10px auto;
    background: #1B244A;
    color: white;
    width: 575px;
    height: 380px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
}

h3 {
    margin-bottom: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

h2 {
    box-sizing: border-box;
    background: black;
    text-align: center;
    font-family: CursedTimer;
    padding-top: 15px;
    padding-bottom: 4px;
    color: #F94F6D;
    font-size: 90px;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 155px;
    height: 120px;
    border-radius: 5px;
}

button {
    font-family: CursedTimer;
    align-items: center;
    margin: auto auto;
    width: 45px;
    height: 45px;
    background: #1B244A;
    color: #9AABD8;
    border: 1px solid #9AABD8;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 10px;
}

.buttons {
    display: flex;
    box-sizing: border-box;
    width: 155px;
    justify-content: space-between;
}
